body {
  font-family: 'Roboto', sans-serif;
}

.popup-container {
  position: fixed;
  width: 90%;
  height: 80%;
  max-width: 900px;
  background-color: #312f2fcc;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 0 10px #888;
  font-size: x-large;
  overflow-y: inherit;
}
